@charset "UTF-8";

.wrapper {
	margin: 0 auto;
	max-width: 500px;
}
.menu_controls {
	width: 100%;
	background: rgba(0, 213, 255, 0.5);
	padding: 10px 20px;
}
.fixed_menu_group {
	margin-bottom: 10px;
}
.wrap_box {
	background: gray;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
.box{
	color: #fff;
	font-size: 30px;
	text-align: center;
	width: 33%;
	padding: 10px 5px;
	background: pink;
}


img {
  max-width: 100%;
  width: 600px;
}

img {
  animation: haunted 5s infinite;
}

@keyframes haunted {
  0% {
    filter: brightness(20%);
  }
  48% {
    filter: brightness(20%);
  }
  50% {
    filter: sepia(1) contrast(2) brightness(200%);
  }
  60% {
    filter: sepia(1) contrast(2) brightness(200%);
  }
  62% {
    filter: brightness(20%);
  }
  96% {
    filter: brightness(20%);
  }
  96% {
    filter: brightness(200%);
  }
}
