@charset "UTF-8";

/*==========================

	RESET CSS 2011
	
============================*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, 
fieldset, input, textarea, p, blockquote, table, th, td{
	margin:0;
	padding:0;
}

h1, h2, h3, h4, textarea{
	font-size:100%;
	font-weight:normal;
}

a:active,a:focus{
	outline:none;
}

hr{
	border:none;
	height:0;
}

ol, ul{
	list-style:none;
}

img{
	vertical-align:top;
	font-size:0;
	line-height:0;
	border:0;
	border-style:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

address, caption, cite, code, dfn, em, strong, th, var{
	font-style:normal;
	font-weight:normal;
}

.clearfix:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}

.clearfix{
	min-height:1px;
}

* html .clearfix {
	height:1px;
	/*¥*//*/
	height:auto;
	overflow:hidden;
	/**/
}
